<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 页脚 start -->
<div class="page-footer line-center" th:fragment="footer">
    <div class="page-footer-container">
        <ul class="fLink">
            <li><a href="">短网址</a></li>
            <li><a href="">126 百度网址大全</a></li>
            <li><a href="">元祖蛋糕</a></li>
            <li><a href="">如何加盟</a></li>
            <li><a href="">短链接</a></li>
            <li><a href="">企业微信办公</a></li>
            <li><a href="">天猫转让</a></li>
            <li><a href="">网站优化</a></li>
        </ul>
        <ul class="copyright">
            <li><a>粤ICP备16111948号-8</a></li>
            <li>联系我们：<a href="mailto:suo_im@163.com">suo_im@163.com</a></li>
        </ul>
    </div>
    <!-- 右侧工具 start -->
    <ul class="tools_right">
        <!-- 公众号 -->
        <li class="toolItem">
            <img class="toolIcon" src="http://static.mrw.so/static/mrw.so/images/WeChat.png">
            <p class="toolDes">公众号</p>
            <div class="contactBox">
                <img src="http://static.mrw.so/static/mrw.so/images/gongzhonghao.jpg">
                <p>扫码关注公众号</p>
            </div>
        </li>
        <!-- 客服 -->
        <li class="toolItem">
            <img class="toolIcon" src="http://static.mrw.so/static/mrw.so/images/service.png">
            <p class="toolDes">客服微信</p>
            <div class="contactBox">
                <img src="http://static.mrw.so/static/mrw.so/images/kefu.jpg">
                <p>扫码联系客服</p>
            </div>
        </li>
    </ul>
    <!-- 右侧工具 end -->
</div>
</body>
</html>